# Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
packages/
*.nupkg
*.log

# OS / editor
Thumbs.db
Desktop.ini
.vscode/
*.DS_Store

# Node
node_modules/

# otros
*.tmp
