@{
    ViewData["Title"] = "Parcial #1 DSIW2";
}

<div class="text-center">
    <h1 class="display-4">Parcial #1 DSIW2</h1>
    <p>Aplicación ASP.NET Core MVC (C#) con capas, EF Core y SQL Server.</p>
</div>
